
.overlay {

    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1005;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); 
    overflow: hidden !important;
    transition: 0.3s ease; 
  }
  .overlay-content {
    height: 100vh;
    text-align: center;
    margin-top: 100px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 

  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

:root {
    --giuliabe: url('https://cdn.hunter.fm/image/thumb/music/iy71rq4ok7quj64a17x7cqbb2s1hr8/100x100ht.jpg');
    --inna: url('https://cdn.hunter.fm/image/thumb/music/rkjftj4zk8rqwj9kx5ajqkj88ev7xb/100x100ht.jpg');
    --kygo: url('https://cdn.hunter.fm/image/thumb/music/y2kmiv3dk8aclb03bvtsjdydlkc1n1/100x100ht.jpg');
    --bastille: url('https://cdn.hunter.fm/image/thumb/music/b9xybm8njo6fvj3122fehqq6xp36ug/100x100ht.jpg');
    --giangiovani: url('https://cdn.hunter.fm/image/thumb/music/ayk8kgfxjq5uot06kbkh8hh7v728xu/100x100ht.jpg');
    --pop: url('https://cdn.hunter.fm/image/station/pop.png') center no-repeat;
    --rock: url('https://cdn.hunter.fm/image/station/rock.png') center no-repeat;
    --sertanejo: url('https://cdn.hunter.fm/image/station/sertanejo.png') center no-repeat;
    --pop2k: url('https://cdn.hunter.fm/image/station/pop2k.png') center no-repeat;
    --oitentas: url('https://cdn.hunter.fm/image/station/80s.png') center no-repeat;
    --lofi: url('https://cdn.hunter.fm/image/station/lo-fi.png') center no-repeat;
    --popncs: url('https://cdn.hunter.fm/image/station/pop&ncs.png') center no-repeat;
    --fresh: url('https://cdn.hunter.fm/image/station/fresh.png') center no-repeat;
}
body {
    background: #000000 !important;
}
.fa-sliders-h, .fa-search {
    color: #8f9397;
    ;
}

.navigation {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    background:#000;
    position: fixed;
    z-index:1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
}

.mt-70 {
    margin-top:70px;
}

.store img {
    width: 120px;
}

.boxed2 {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    width: 100%;

    margin-top: 15px !important;
    margin-bottom: 15px !important;
    grid-auto-columns: 1fr;

    -ms-grid-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);

    margin: 0 auto;
    color: #FFF;
}

.f323 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxed {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    width: 100%;

    margin-top: 15px !important;
    grid-auto-columns: 1fr;

    grid-column-gap: 24px;
    grid-row-gap: 24px;

    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    margin: 0 auto;
    color: #FFF;
}

.f32 {
    padding: 10px;
    display: flex;
}

.f32 .img {
    float: left;
    width: 80px;
    height: 80px;
    background:url('https://hunter.fm/img/top5-image.jpg') no-repeat center;
}

.f32 .img2 {
    float: left;
    width: 80px;
    height: 80px;
    background:url('https://hunter.fm/img/playlist.png') no-repeat center;
}

.f32 .img3 {
    float: left;
    width: 80px;
    height: 80px;
    background:url('https://hunter.fm/img/whatsapp.png') no-repeat center;
}

.f32 .img4 {
    float: left;
    width: 80px;
    height: 80px;
    background:url('https://hunter.fm/img/you-tube-live.jpg') no-repeat center;
}

.f32 .info {
    padding-left: 15px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}

.boxed .f32 a {
    color:#FFF;
}

.f32 .info .title {
    font-size: 23px;
    font-weight: 700;
}

.f32 .info  .text {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
}

.top56 {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    margin-top: 10px !important;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
}

.show_share {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
}

.sep {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 100px 1fr;
    grid-template-columns: 100px 1fr;
}

#top5_box {
    margin-top: 10px;
}

#top5_box .cover {
    float: left;
    display: block;
    width: 100px;
    height: 100px;
}

#top5_box .infos {
    padding: 5px;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-start;
}

#top5_box .singer {
    margin-left: 5px;
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    display: inline-block;
    line-height: normal;
}

#top5_box .title {
    margin-left: 5px;
    width: 100%;
    height: auto;
    color: #fff;
    font-variant: normal;
    font-size: 12px;
    display: inline-block;
    line-height: normal;
}



#top5 {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    margin-top: 10px !important;
    -ms-grid-columns: 1fr 1fr 6fr 1fr;
    grid-template-columns: 100px 1fr 6fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
    position:absolute;
}

#wtop5 {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    margin-top: 10px !important;
    -ms-grid-columns: 1fr 1fr 6fr 1fr;
    grid-template-columns: 100px 1fr 6fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
}

#top5_result .title {
    width: 550px;
    height: 60px;
    background: url('../img/result.png') 115px center no-repeat;
    margin: 0 auto 25px;
    padding: 15px 0 0 0;
    text-align: center;
}

#top5 .vote.on .button:not([vote=true]):hover, #wtop5 .vote.on .button:not([vote=true]):hover {
    cursor: not-allowed;
    transform: scale(1);
}

#top5 .vote.on .button:not([vote=true]), #wtop5 .vote.on .button:not([vote=true]) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
    opacity: .5;
}


#top5 .info .singer, #wtop5 .info .singer {
    font-weight: 800;
}
#top5 .info, #wtop5 .info {
    line-height: 1;
}
#top5 .info, #wtop5 .info {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    width: calc(100%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
#top5 .vote .button.like, #wtop5 .vote .button.like {
    display: flex;
    background: url('https://hunter.fm/img/like.png') center no-repeat;
    background-size: 50px;
    background-position: center 40%;
    color: #cf0;
    font-weight: 700;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}
#top5 .vote .button {
    transition: all 0.25s;
}
#top5 .vote .button:hover {
    transform:scale(0.8);
    cursor:pointer;
    transition: all 0.5s;
}
#content .hr {
    display: block;
    height: 5px;
    margin: 0 auto;
    border: 0;
    background: #8c29fd;
    background: -moz-linear-gradient(left,rgba(140,41,253,1) 0%,rgba(172,33,174,1) 55%,rgba(254,113,37,1) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0%,rgba(140,41,253,1)),color-stop(55%,rgba(172,33,174,1)),color-stop(100%,rgba(254,113,37,1)));
    background: -webkit-linear-gradient(left,rgba(140,41,253,1) 0%,rgba(172,33,174,1) 55%,rgba(254,113,37,1) 100%);
    background: -o-linear-gradient(left,rgba(140,41,253,1) 0%,rgba(172,33,174,1) 55%,rgba(254,113,37,1) 100%);
    background: -ms-linear-gradient(left,rgba(140,41,253,1) 0%,rgba(172,33,174,1) 55%,rgba(254,113,37,1) 100%);
    background: linear-gradient(to right,rgba(140,41,253,1) 0%,rgba(172,33,174,1) 55%,rgba(254,113,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c29fd',endColorstr='#fe7125',GradientType=1 );
}
#content .result {
    width: 100%;
    max-width: 970px;
    height: 50px;
    line-height: 50px;
    background: transparent;
    margin: 0 0 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
}
#content .top5_desc {
    width: 100%;
    max-width: 970px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
#content .top5_title {
    width: 100%;
    max-width: 970px;
    height: 58px;
    background: url('https://hunter.fm/img/top5_logov2.png') center no-repeat;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
.ninta {
    width: 100%;
    height: 90px;
    background: url('https://hunter.fm/img/ninta.png') no-repeat center;
    background-size: 60%;
    transition: all .3s;
}
.stereotool:hover, .ninta:hover {
    transform: scale(1.2);
    transition: all .3s;
}
.stereotool {
    width: 100%;
    height: 90px;
    background: url('https://hunter.fm/img/stereotool.png') no-repeat center;
    background-size: 60%;
    transition: all .3s;  
}
#content .result span {
    color: #a84ef1;
}
#content .toys {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#content .toys p {
    font-size: 78px;
    font-weight: 700;
    line-height: 1;
    color:#FFF;
}
#top5 .pos, #wtop5 .pos {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background:linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%);
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
.imgtop {
    width: 100px;
    height: 100px;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
.none {
    width: 100px;
    height: 100px;
    background-size:cover !important;
    display: none;
    justify-content: center;
    align-items: center;
}

.share_music {
    display: block;
    border: 3px solid #070707;
    background: #000;
    color: #7c7c7c;
    font-weight: 600;
    font-style: italic;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 970px;
    height: 32px;
    font-size: 15px;
}

.note {
    display: block;
    width: 100%;
    max-width: 900px;
    align-items: center;
    height: 35px;
    font-size: 10px;
    margin-top: -10px;
   color:#FFF;
}

.note a {
    color:#FFF;
}

a:hover {
    text-decoration: none !important;
}

.note a:hover {
    color:#03f;
    text-decoration: none;
}

.rap2 {
    display: flex;
    width: 100%;
    max-width: 970px;
    max-height: 250px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.rap2 img {
    width: 100%;
    max-width: 970px;
    height: auto;
}

.rap img {
    width: 100%;
    max-width: 728px;
    height: auto;
}

.rap {
    display: flex;
    width: 100%;
    max-width: 970px;
    max-height: 106px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.choice_title {
    display: flex;
    width: 100%;
    max-width: 970px;
    height: 70px;
    line-height: 70px;
    justify-content: center;
    align-items: center;
    font-family: open sans,Arial;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}

/* radio */

#radio {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    margin-top: 10px !important;
    -ms-grid-columns: 1fr 5fr 2fr 1fr;
    grid-template-columns: 100px 5fr 2fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
}
#radio .info .singer, #wtop5 .info .singer {
    font-weight: 800;
}
#radio .info, #wtop5 .info .singer {
    line-height: 1;
}
#radio .info, #wtop5 .info {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    width: calc(100%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
#radio .vote {
    display: flex;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    word-wrap: break-word;
}

#radio .vote .genre {
    padding-right: 16px;
    text-align: right;
}

#radio .play {
    width: 60px;
    height: 105.5px;
    background: url('https://hunter.fm/img/play-btn.png') left no-repeat;
    background-size: 60px;
    transition: all .1s;

}

#radio .play:hover { 
    transform:scale(1.2);
    cursor:pointer;
}

.imgtopradio {
    width: 100px;
    height: 100px;
    font-weight: 900;
    text-align: left;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%);
}

.imgtopradio img {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1000;
}

.imgtopradio .none2 {
    width: 100px;
    height: 100px;
    background-size: cover !important;
    display: block;
}

.imgtopradio .none2 span {
    width: 40px;
    padding: 1px;
    background: #c02e2ecb;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 5px;
}


.navbar {
    height: 70px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-nav {
    padding-left: 15px !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #ddd !important;
}
.nav-link {
    font-family: Montserrat,sans-serif;
    padding: 0px 20px !important;
    line-height: 70px;
}
.navbar-toggler {
    padding-right: 15px !important;
    color:#FFF !important;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    color:#ffffff!important;
}

.nav-link img {
    margin-left: 15px;
}
.navbar-brand {
    width: 165px;
    height: 30px;
    background: url('https://hunter.fm/img/logo-hunterfm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.list-item {
    margin: 20px;
    display: flex;
    border-style: solid;
    border-width: .4rem;
    border-color: #e4e4e4;
    background-color: #fff;
    max-width: 50px;
    min-height: 50px;
    padding: 40px 90px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

@media screen and (max-width: 1050px){
    .show_share {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1019px){
    .navigation {
        max-width: 100vh !important;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .pos {
        position: absolute;
    }
    .boxed {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .rap2 {
        height:auto;
    }
    .rap {
        height:auto;
    }
    .choice_title {
        font-size: 100%;
        height: auto;
    }

    #content .toys p {
        font-size: 36px;
    }

    .imgtop {
        background-image: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/8oh063k0k8ac8dfwh89ojbsoxqds89/100x100ht.jpg');
   }

   :root {
    --giuliabe: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/iy71rq4ok7quj64a17x7cqbb2s1hr8/100x100ht.jpg');
    --inna: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/rkjftj4zk8rqwj9kx5ajqkj88ev7xb/100x100ht.jpg');
    --kygo: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/y2kmiv3dk8aclb03bvtsjdydlkc1n1/100x100ht.jpg');
    --bastille: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/b9xybm8njo6fvj3122fehqq6xp36ug/100x100ht.jpg');
    --giangiovani: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/ayk8kgfxjq5uot06kbkh8hh7v728xu/100x100ht.jpg');    
}

    .none {
        display: inline;
   }
    #top5, #wtop5 {
        grid-template-columns: 100px auto 100px;
   }
   #radio .info, #wtop5 .info {
    padding-left: 5px;
    font-size: 15px;
    margin: 5px 0 0 0;
    justify-content: flex-start;
   }
    #top5 .info, #wtop5 .info {
padding-left: 5px;
    }


    #radio .vote .genre {
    font-size: 12px;
    } 
    #top5 .info {
        font-size: 15px;
        margin: 5px 0 0 0;
        justify-content: flex-start;
   }
    #top5 .vote .button.like, #wtop5 .vote .button.like {
        width: 100px;
   }
}

.navbar-toggler-icon { 
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#FFF;
}

@media (max-width: 991px){
    .navbar-brand {
        justify-content: center !important;
        align-items: center !important;
        margin: 0 auto;
    }
} 

@media (min-width: 1200px) {
    .container {
        max-width: 970px !important;
   }
}
