:root {
    --giuliabe: url('https://cdn.hunter.fm/image/thumb/music/iy71rq4ok7quj64a17x7cqbb2s1hr8/100x100ht.jpg');
    --inna: url('https://cdn.hunter.fm/image/thumb/music/rkjftj4zk8rqwj9kx5ajqkj88ev7xb/100x100ht.jpg');
    --kygo: url('https://cdn.hunter.fm/image/thumb/music/y2kmiv3dk8aclb03bvtsjdydlkc1n1/100x100ht.jpg');
    --bastille: url('https://cdn.hunter.fm/image/thumb/music/b9xybm8njo6fvj3122fehqq6xp36ug/100x100ht.jpg');
}
body {
    background: #000000 !important;
}
.fa-sliders-h, .fa-search {
    color: #8f9397;
    ;
}

#top5 {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    grid-auto-columns: 1fr;
    margin-top: 10px !important;
    -ms-grid-columns: 1fr 1fr 6fr 1fr;
    grid-template-columns: 100px 1fr 6fr 1fr;
    max-width: 970px;
    margin: 0 auto;
    height: 100px;
    color: #FFF;
}
#top5 .info .singer, #wtop5 .info .singer {
    font-weight: 800;
}
#top5 .info, #wtop5 .info {
    line-height: 1;
}
#top5 .info, #wtop5 .info {
    padding-left: 15px;
    padding-right: 15px;
    background: #000;
    font-size: 20px;
    width: calc(100%);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-overflow: ellipsis;
}
#top5 .vote .button.like, #wtop5 .vote .button.like {
    display: flex;
    background: url('https://hunter.fm/img/like.png') center no-repeat;
    background-size: 50px;
    background-position: center 40%;
    color: #cf0;
    font-weight: 700;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}
#top5 .pos, #wtop5 .pos {
    width: 100px;
    height: 100px;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
}
.imgtop {
    width: 100px;
    height: 100px;
    background: url('https://cdn.hunter.fm/image/thumb/music/8oh063k0k8ac8dfwh89ojbsoxqds89/100x100ht.jpg');
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
}
.none {
    width: 100px;
    height: 100px;
    display: none;
}

.navbar {
    height: 100px;
}
.navbar-brand {
    width: 165px;
    height: 30px;
    background: url('https://hunter.fm/img/logo-hunterfm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.list-item {
    margin: 20px;
    display: flex;
    border-style: solid;
    border-width: .4rem;
    border-color: #e4e4e4;
    background-color: #fff;
    max-width: 50px;
    min-height: 50px;
    padding: 40px 90px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

@media screen and (max-width: 767px) {
    #top5 .pos, #wtop5 .pos {
        display: none;
   }
    .imgtop {
        background-image: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/8oh063k0k8ac8dfwh89ojbsoxqds89/100x100ht.jpg');
   }

   :root {
    --giuliabe: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/iy71rq4ok7quj64a17x7cqbb2s1hr8/100x100ht.jpg');
    --inna: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/rkjftj4zk8rqwj9kx5ajqkj88ev7xb/100x100ht.jpg');
    --kygo: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/y2kmiv3dk8aclb03bvtsjdydlkc1n1/100x100ht.jpg');
    --bastille: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 0%), url('https://cdn.hunter.fm/image/thumb/music/b9xybm8njo6fvj3122fehqq6xp36ug/100x100ht.jpg');
    }

    .none {
        display: inline;
   }
    #top5 {
        grid-template-columns: 100px auto 100px;
   }
    #top5 .info {
        font-size: 15px;
        margin: 5px 0 0 0;
        justify-content: flex-start;
   }
    #top5 .vote .button.like, #wtop5 .vote .button.like {
        width: 100px;
   }
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px !important;
   }
}
